@font-face {
    font-family: 'Ginto';
    src: url('fonts/GintoNord.woff') format('woff'),
         url('fonts/GintoNord.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


