@font-face {
    font-family: 'Ginto';
    src: url('fonts/GintoNord.woff') format('woff'),
         url('fonts/GintoNord.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

header {
    color: #FFFF;
}
body {
    background: linear-gradient(to right, #e1891e, #daa520);
}

